/*goole font dowload link*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

/*Asterisk wildcard selector to overide browser style setings*/
*{
    padding: 0;
    margin: 0;
}
/*General style*/
body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/*header*/
#header{
    background-color: #739e94;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px 10px;
}
#logo{
    max-width: 33%;
}
#nav-bar-side{
    text-align: center;
    border: 2px solid black;
    width: 30%;
    display: flex;
    justify-content: center;
}
#maps{
    font-size: xx-large;
    text-align: center;
    color: black;
}


