/*goole font dowload link*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

/*Asterisk wildcard selector to overide browser style setings*/
* {
    padding: 0;
    margin: 0;
    /*fill full of the screen for all screen sizes*/
    box-sizing: border-box;
}

/*General style*/
body {
    /*set min-height to be sure body wil take all space on the screen*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}

/*Section Magda*/
#magda {
    display: flex;
    width: 100%;
    flex-direction: column;
}
#photo{
    height: 600px;
    width: 100%;
    background: url("../css/images/vecteezy_ai-generated-a-pink-birthday-cake-adorned-with-gold-drip-icing_35841098.jpg") no-repeat center center/cover;
}

.nav {
    width: 50%;
    text-align: left;
}

#logo {
    font-family: "Sevillana", cursive;
    color: black;
    font-size: x-large;
    margin-top: 2px;
}

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-li a {
    color: black;
    margin-top: 10px;
}

#nav-bar-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

#maps {
    font-size: xx-large;
    text-align: center;
}

main {
    flex: 1 0 auto;
    margin-bottom: 60px;
}

/*Footer*/
footer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items:center;
    text-align: justify;
}
.contact{
    height: auto;
    width: 100%;
}

#social_media{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

}
#social_media i {
    color: #f6f8f2f5;
    font-size: 180%;
    justify-content: space-around;
}
/*Opening hours section on footer*/
#hours{
    color: aliceblue;
     margin-top: 1%;
     text-align: center;
     padding: 20px 30px;
}
#hours ul {
    list-style-type: none;
}
#location{
    color: azure;
    align-items: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#location ul {
    list-style-type: none;
}
