/*goole font dowload link*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/*Asterisk wildcard selector to overide browser style setings*/
* {
    padding: 0;
    margin: 0;
    /*fill full of the screen for all screen sizes*/
    box-sizing: border-box;
}

/*General style*/

body {
    /*set min-height to be sure body wil take all space on the screen*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: "Tangerine", sans-serif;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
}

/*Header*/

header {
    position: fixed;
    background-color: #b8d9e4f5;
    display: flex;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    color: black;
    padding: 20px 2px;
}


#nav_bar_side {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
}

.nav-li>a {
    color: black;
    padding-top: 5px;
}

.nav-li {
    margin-top: 5px;
}

/*navigation bar hiden*/

nav {
    width: auto;
    background-color: #b8d9e4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 1rem;
    position: absolute;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 62%;
    display: none;
    top: 100%;
}

/* Nav toggle */

#menu:checked~nav {
    display: block;
}

#menu {
    display: none;
}

.menu_label {
    font-size: 2rem;
    padding-top: 10px;
}

#active {
    background-color: rgba(104, 106, 108, 0.5);
}


/*Main section*/

main {
    flex: 1 0 auto;
    margin-top: 84.4px;
    display: flex;
    flex-direction: column;
}

/*Main Page index.html*/
/*Section Magda*/

#magda {
    height: 600px;
    width: 100%;
    background: url("../images/female_baker.webp") no-repeat center center/cover;
    position: relative;
}

#about {
    background-color: rgba(162, 205, 223, 0.7);
    position: absolute;
    border: 2px solid #3a3a3a;
    width: 160px;
    height: 12vh;
    border-radius: 5%;
    top: 50%;
    left: 40%;
    text-align: center;
    padding: 5px 10px;
    min-height: 76px;
}

#about h2 {
    font-family: "Tangerine", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

/*My story section*/

#my_story {
    font-size: 17px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 232, 238);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

#my_story h2 {
    font-family: "Tangerine", sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 2px solid #3a3a3a;
}

.text_my_story {
    height: 42vh;
    width: 90vw;
    background-color: #e2eae8f8;
    border-radius: 5px;
    margin-top: 5px;
    padding: 14px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 268px;
}

#something_about_me {
    min-height: 350px;
}

.my_story_list {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

/*Products section*/
#products {
    background-color: rgb(99, 190, 159);
    padding-bottom: 10px;
    padding: 10px 5px;

}

.product_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.product_section h2 {
    margin-top: 10px;
}

.product_img {
    height: 40vh;
    width: 90vw;
    border-radius: 5%;
}


#comunion {
    background: url("../images/catholic_christening.webp") no-repeat center/cover;
}

#wedding {
    background: url("../images/celebratory_wedding.webp") no-repeat center/cover;
}

#birthday {
    background: url("../images/date_of_birth.webp") no-repeat center/cover;
}

#cupcakes {
    background: url("../images/cupcake_with_pink_icing.webp") no-repeat center/cover;
}

.products_text {
    background-color: rgb(175, 216, 238);
    text-align: center;
    padding: 2px 2px;
    height: 80px;
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

/*Footer*/
footer {
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: justify;
}

.contact {
    height: auto;
    width: 100%;
}

#social_media {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#social_media i {
    color: #f6f8f2f5;
    font-size: 180%;
    justify-content: space-around;
}

/*Opening hours section on footer*/
#hours {
    color: aliceblue;
    margin-top: 1%;
    text-align: center;
    padding: 20px 30px;
}

#hours ul {
    list-style-type: none;
}

#location {
    color: azure;
    align-items: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#location ul {
    list-style-type: none;
    text-align: center;
}

#maps {
    font-size: xx-large;
    text-align: center;
    color: azure;
}

.contact h3 {
    font-family: "Roboto", sans-serif;
    color: azure;
    font-size: 20px;
}

/*Gallery*/

/*Magda section only for gallery*/
#magda_gallery {
    height: 300px;
    width: 100%;
    background: url("../images/young_handsome_new.webp") no-repeat center center/cover;
    position: relative;
}

#about_gallery {
    background-color: rgba(162, 205, 223, 0.7);
    position: absolute;
    border: 2px solid #3a3a3a;
    width: 230px;
    height: 110px;
    border-radius: 5%;
    top: 60%;
    left: 5%;
    text-align: center;
    font-size: 9px;
    color: rgb(39, 39, 29);
    padding: 10px 10px;
}

#hidden_heading {
    display: none;
}

#about_gallery h2 {
    font-size: 24px;
}

#about_gallery p {
    font-weight: 600;
    font-size: 12px;
}

#gallery h2 {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
}

#communion_gallery {
    background-color: rgb(155, 222, 200);
}

#wedding_gallery {
    background-color: rgb(104, 152, 219);
}

#birthday_cakes {
    background-color: rgb(187, 76, 231);
}

.photos {
    text-align: center;
    width: 100%;
    padding: 1px 1px;
}

.photos img {
    width: 100%;
    border-radius: 5px;
    padding: 1px;
}

/*Contact Us*/

#contact_us {
    /*Background photo and photo position*/
    background-image: url("../images/micheile.webp");
    background-size: cover;
    background-position: 65%;
    /*Padding to move away from edges*/
    padding: 20px 20px;
    flex-grow: 1;
}

#contact_us_form {
    background-color: rgba(6, 49, 67, 0.7);
    color: #ecf1f1;
    padding: 1px 5px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact_us_form h2 {
    color: #93e9d4;
    text-align: center;
    background-color: rgba(52, 98, 117, 0.7);
    border-radius: 10px;
    font-weight: 400;
    padding-top: 10px;
}

.form_section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
}


.text_input {
    background-color: rgba(162, 205, 223, 0.7);
    width: 100%;
    height: 35px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    display: flex;
}

.text_input_message {
    background-color: rgba(162, 205, 223, 0.7);
    width: 100%;
    height: 25vh;

}

.text_input::placeholder {
    color: #353638;
    font-size: 12px;
}

.submit_button {
    background-color: rgba(60, 63, 65, 0.9);
    color: #e9ede0;
    width: 60%;
    height: 30px;
    box-shadow: 5px 5px 5px rgb(150, 191, 217);
    margin-top: 30px;
    margin-bottom: 25px;
}

/*thank_you.html*/
#magda_thank_you {
    min-height: 900px;
    width: 100%;
    background: url("../images/young_handsome_new.webp") no-repeat center center/cover;
    position: relative;
    background-size: cover;
}

#about_thank_you {
    background-color: rgba(162, 205, 223, 0.7);
    position: absolute;
    border: 2px solid #3a3a3a;
    width: 230px;
    height: 210px;
    top: 50%;
    left: 18%;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: rgb(39, 39, 29);
    padding-top: 50px;
}



/* Media query */

/*Media query for screens min 700px*/

@media screen and (min-width: 700px) {

    /*Navigation bar*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        left: 0;
        height: 60px;
        box-shadow: none;
        padding: 0 1rem;
    }

    .menu_label {
        display: none;
    }

    #nav_bar_side {
        display: flex;
    }

    .nav-li {
        font-size: 21px;
        margin: 5px 19px;
    }

    /*Magda section*/
    #about {
        border-radius: 10px;
        width: 360px;
        height: fit-content;
        top: 70%;
        left: 45%;
        padding-top: 20px;
    }

    #about h2 {
        font-size: 45px;
        font-weight: 700;
    }

    /*My story Ssection*/
    #my_story {
        font-size: 22px;
    }

    #my_story h2 {
        font-size: 45px;
    }

    .text_my_story {
        height: 300px;
    }

    /*Product section*/
    #products {
        column-count: 2;
    }

    .product_section {
        text-align: center;
        margin-bottom: 20px;
    }

    .product_img {
        height: 35vh;
        min-height: 260px;
        width: 48vw;
        border-radius: 5%;
    }

    .products_text {
        height: 66px;
        width: 41vw;
    }

    .product_section h2 {
        margin-top: 10px;
        font-size: 45px;
    }

    /*Gallery Section*/

    #magda_gallery {
        height: 400px;
    }

    #about_gallery {
        width: 430px;
        height: 110px;
        top: 60%;
        left: 5%;
        font-size: 9px;
        padding: 10px 10px;
    }

    #about_gallery h2 {
        font-size: 26px;
    }

    #about_gallery p {
        font-weight: 600;
        font-size: 16px;
    }

    .photos {
        column-count: 2;
    }

    /*Form for contact_us.html*/
    #contact_us_form {
        max-width: 400px;
        margin-left: 50vw;
    }


}

@media screen and (min-width: 900px) {
    /*Main page My story section*/

    .text_my_story {
        padding-top: 40px;
    }

    /*product section*/
    #products {
        column-count: 4;
    }

    .product_section {
        padding-top: 5px;
        text-align: end;
    }

    .product_img {
        height: 20vh;
        width: 23.9vw;
        min-width: 220px;
        border-radius: 5%;
    }

    .products_text {
        height: 50px;
        width: 90%;
    }

    .product_section h2 {
        font-size: 35px;
        margin-top: 5px;
    }

    /*Gallery*/
    #magda_gallery {
        height: 800px;
    }

    #magda_gallery h2 {
        font-size: 45px;
    }

    #gallery h2 {
        font-size: 45px;
    }

    #about_gallery {
        border-radius: 20px;
        width: 800px;
        height: 140px;
        top: 60%;
        left: 5%;
        font-size: 9px;
        padding: 10px 10px;
    }

    .photos {
        width: 100%;
        padding: 0;
        column-gap: 0;
    }

    @media screen and (min-width: 1200px) {

        /*Main section*/
        #magda {
            height: 900px;
        }

        /*My story Ssection*/
        #my_story {
            font-size: 28px;
        }

        #my_story h2 {
            font-size: 48px;
        }

        .text_my_story {
            height: 300px;
        }


        /*Gallery*/

        #magda_gallery {
            height: 900px;
        }

        .photos {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .photos img {
            width: 25vw;
            height: 32vh;
        }

        #magda_gallery h2 {
            font-size: 45px;
        }

    }

}